*, *:after, *:before{
    box-sizing: border-box;
}
*::selection{
    background: #157fc4;
    color: white;
}

body{
    font-size: 16px;
    line-height: 20px;
    min-width: 580px;
/*
    font-family: "PT Sans", PTsans, Arial, sans-serif;
    color: #1c1c1c;
    background: #ededed;
*/
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a{text-decoration: none;color: white;}
img {
/*    vertical-align: middle;*/
    max-width: 100%;
}


/*
    * - HEADER - TOP - *
    * Header - chenk *
*/
header{
    height: 100vh;
    background: url(../../image/bg_50-25.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

header h1{
	margin-bottom: 5vh;
}
/* Header - chenk */
.chenk{
/*	background: #157fc4;*/
    padding: 10px 5vw;
/*    margin-bottom: 4vh;  */
    text-align: left;
    transition: all .3s;
/*    background: linear-gradient(to bottom right, #157fc4, #45a3ba);*/
}

.chenk:hover{
    
}

.chenk img{
    height: 100px;
    float: left;
    margin-right: 25px;
}

.chenk a{
    color: white;
}

.chenk span{
    font-size: 1rem;
    margin-top: 0;
}

.chenk span small{
    margin-left: 3px;
    font-size: .7rem;
}

/* 
    * HEADER CONTENT *
    * header - to left *
    * header - to center *
    * header - to right *
*/

/* All to container */
.container{
/*
    width: 1200px;
    padding: 0 15px;
*/
    width: auto;
    padding: 0 8vw;
/*  width: auto;*/
    margin: 0 auto;
    
/*    padding: 0 8vw;*/
}

.container > .introVid{
    display: table-cell;
}

.container img{
    width: 40px;
}

/* Left to block */
.left_it{
/*    height: 80vh;  */
    width: 30vw;
	float: left;
/*    width: 30%*/
/*    background: rgba(31, 58, 139, .4);*/
}

.left_it h2{
    font-weight: 200;
    line-height: 30px;
}

.it_chenk{
    padding: 10px;
}

.it_chenk a{
    height: 17vh;
    padding: 15px 25px;
    border: 1px solid white;
    position: relative;
    display: block;
    margin-top: 2vh;
    transition: all .5s;
}

.container a:first-child{
	margin: 0;
}

.it_chenk a:hover{
    border: 1px solid transparent;
    background: -webkit-linear-gradient(to bottom right, #157fc4, #45a3ba);
    background: -moz-linear-gradient(to bottom right, #157fc4, #45a3ba);
    background: -o-linear-gradient(to bottom right, #157fc4, #45a3ba);
    background: linear-gradient(to bottom right, #157fc4, #45a3ba);
    transform: scale(1.1);
    box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.1);
}

.it_chenk a h3{
/*    float: left;*/
    font-weight: 500;
    line-height: 25px;
    margin: 0;
    text-align: left;
    position: absolute;
}

.it_chenk a img{
    position: absolute;
    top: 5vh;
    right: 2vw;
/*    float: right;*/
/*    position: relative;*/
}
/* Center to block */
.center_btn{
    height: 10vh;
	padding: 25px;
	line-height: 5vh;
	position: absolute;
	right: 3vw;
	top: 3vh;
/*    width: 25vw; */
/*    background: rgba(35, 193, 31, .4);
    position: relative;
	right: 0;
	top: 0;
	background: rgba(0,0,0,.5);*/
/*    width: 25%;*/
}

a#test{
    padding: 0.5em 1.1em;
/*    padding: 1em 2em; */
/*	padding: .2em 1.4em;  */
    border: 0;
    background: #157fc4;
    transition: all .3s;
    border-radius: 100px;
	position: relative;
	right: 0;
	top: 0;
    display: none;
/*    position: absolute;
    top: 38vh;
    left: 24%;
*/
    
/*    left: 12.5vh;*/
/*    animation: rolaw 2s infinite;*/
}

#vaidu{
    font-size: 1.2rem;
    border: 1px solid white;
    padding: 15px 25px;
}

#vaidu:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid transparent;
    background: -webkit-linear-gradient(to bottom right, #157fc4, #45a3ba);
    background: -moz-linear-gradient(to bottom right, #157fc4, #45a3ba);
    background: -o-linear-gradient(to bottom right, #157fc4, #45a3ba);
    background: linear-gradient(to bottom right, #157fc4, #45a3ba);
    box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.1);
}

/*a#test:hover{
    transform: scale(1.1);
    background: li0.5em 1.1emnear-gradient(to bottom right, #157fc4, #45a3ba);
    box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.1);
}*/

@keyframes rolaw{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

/* Right to block */
.right_info{
/*    height: 80vh;   */
    width: 30vw;
	float: right;
/*    background: rgba(223, 41, 41, .4);*/
/*    width: 30%;*/
    
}

.right_info h2{
    font-weight: 200;
    line-height: 30px;
}

.info_chenk{
    padding: 10px;
}

.info_chenk a{
    height: 17vh;
    padding: 15px 25px;
    border: 1px solid white;
    position: relative;
    display: block;
    margin-top: 2vh;
    transition: all .5s;
    text-align: left;
}

.info_chenk a:hover{
    border: 1px solid transparent;
    background: -webkit-linear-gradient(to bottom right, #157fc4, #45a3ba);
    background: -moz-linear-gradient(to bottom right, #157fc4, #45a3ba);
    background: -o-linear-gradient(to bottom right, #157fc4, #45a3ba);
    background: linear-gradient(to bottom right, #157fc4, #45a3ba);
    transform: scale(1.1);
    box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.1);
}

.info_chenk a h3{
/*    float: left;*/
    font-weight: 500;
    line-height: 25px;
    margin: 0;
    text-align: left;
    position: absolute;
}

.info_chenk a img{
    position: absolute;
    top: 5vh;
    right: 2vw;
/*    float: right;*/
/*    position: relative;*/
}

.info_chenk a:nth-child(2) img{
    width: 50px;
}