*, *:after, *:before{
    box-sizing: border-box;
}
*::selection{
    background: #157fc4;
    color: white;
}

body{
    font-size: 16px;
    line-height: 20px;
/*
    font-family: "PT Sans", PTsans, Arial, sans-serif;
    color: #1c1c1c;
    background: #ededed;
*/
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #ededed;
}

a{text-decoration: none;color: white;}
img {
/*    vertical-align: middle;*/
    max-width: 100%;
}

/*
    * HEADER *
    * header - chenk *
    * header - dk *
*/

header{
    height: 50vh;
    background: url(../../image/bg_50-25.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

/* Header - chenk */
.chenk{
/*	background: #157fc4;*/
    padding: 10px 5vw;
    margin-bottom: 4vh;
    text-align: left;
    transition: all .3s;
}

.chenk:hover{
    opacity: 1;
}

.chenk img{
    height: 40px;
    float: left;
    margin-right: 10px;
}

.chenk a{
    color: white;
}

.chenk span{
    font-size: 1rem;
    margin-top: 0;
}

.chenk span small{
    margin-left: 3px;
    font-size: .7rem;
}

/* Header - content */
header h1{
/*    margin-top: 7vh;*/
}
.camPng{
    height: 74px;
    width: 140px;
    background: url(../../image/videoPlay2.png);
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camPng:hover{
    cursor: pointer;
}

.myVideo{
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,.9);
	position: fixed;
	top: -100vh;
	left: 0;
    z-index: 500;
	transition: all .3s;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: row;
}

.thisVideo{
	height: 60vh;
	width: 50vw;
/*	background: white;*/
	z-index: 800;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.videoC{
	width: 50vw;
}



.close{
    cursor: pointer;
    width: 30px;
    margin-left: 8px;
}
/* 
    * CONTENT *
    * content - menu *
*/
.content{
    
}

/* Content - menu */
.menu{
    width: 100%;
    border-bottom: 2px solid #e9e9e9;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    background: white;
    position: relative;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    margin: 0 auto;
}

.menu ul.left, .menu ul.right{
    float: left;
    background: rgba(69, 163, 186, .2);
    color: white;
    position: absolute;
    top: 0;
}

.menu ul.right{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}



.menu ul li{
    display: inline-block;
}

.menu ul li a{
    padding: 15px 20px;
    color: #157fc4;
    display: block;
    transition: all .3s;
}

.menu ul li a:hover{
    background: #157fc4;
    color: white;
}

.menu ul li a.active{
    background: #157fc4;
    color: white;
}

ul.left li a, ul.right li a{
    padding: 15px 30px;
}

/* Content_to-flow */
.content_nav{
    padding: 5vh 8vw;
}

.content_to-flow{
    height: 120vh;
    padding: 15px 40px 35px;
    background: white;
    border-top: 4px solid #157fc4;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    color: #333;
	z-index:20;
}

.content_to-flow h2{
    text-align: center;
    margin-bottom: 5vh;
}


/* Diagramma */
.side{
    height: 60vh;
    width: 100%;
/*    background: rgba(0, 0, 0, .1);*/
    position: relative;
    margin-bottom: 8vh;
}

/* LEFT */

.left_s{
    height: 60vh;
    width: 10vw;
/*    background: rgba(230, 133, 133, .2);*/
    position: absolute;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.left_s h4:first-child{
    margin-top: 0;
}

.left_s h4{
    font-weight: 100;
    position: relative;
}

.left_s h4:last-child{
    margin-bottom: 0;
}


/* RIGHT */

.right_s{
    height: 60vh;
    width: 70vw;
/*    background: rgba(92, 92, 224, .2);*/
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 0 3vw;
    display: flex;
    align-items: flex-end;
    z-index: 999;
}


/* Di */
.right_s span{
    transition: all .3s;
}

.right_s span:nth-child(2n){
    height: 150px;
    width: 40px;
    background: rgb(62, 156, 239);
    z-index: 100;
}

.right_s span:nth-child(2n+1){
    height: 150px;
    width: 40px;
    background: rgb(23, 112, 191);
    z-index: 100;
}

.right_s span:hover{
    cursor: pointer;
/*    transform: scale(1.01);*/
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

.right_s span{
    margin-right: 10vh;
}
/* One block */
.right_s span.one{
    height: 43.9vh;
    background: #210F85;
    position: relative;
}


/* All hover effects - block */
.one_f, .three_f, .two_f, .four_f, .five_f, .six_f, .seven_f{
    height: 10vh;
    width: 11vw;
    background: #212e38;
    color: white;
    padding: 5px 10px;
    line-height: 25px;
    position: absolute;
    top: -12vh;
    left: 0vw;
    transition: all .3s;
    display: none;
}

.two_f{
	width: 13vw;
}

.right_s span.one:hover .one_f{display: block;}
/* Two block */

.right_s span.two{
    height: 41vh;
    background: #4333B9;
    position: relative;
}

.right_s span.two:hover .two_f{display: block;}

/* Three block */

.right_s span.three{
    height: 36vh;
    background: #4158DE;
    position: relative;
}

.right_s span.three:hover .three_f{display: block;}
/* Four block*/

.right_s span.four{
    height: 29.2vh;
    background: #5F6DDC;
    position: relative;
}

.right_s span.four:hover .four_f{display: block;}


/* Five block */
.right_s span.five{
    height: 20vh;
    background: #447CCA;
    position: relative;
}

.right_s span.five:hover .five_f{display: block;}

/* Six block */
.right_s span.six{
    height: 18vh;
    background: #6799CE;
    position: relative;
}

.right_s span.six:hover .six_f{display: block;}

/* Seven block */
.right_s span.seven{
    height: 15vh;
    background: #93BCE1;
    position: relative;
}

.seven_f{
    width: 12vw;
}

.right_s span.seven:hover .seven_f{display: block;}

/* Lineas */
.lineas{
    height: 60vh;
    width: 73vw;
/*    background: rgba(92, 92, 224, .2);*/
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 10px 3vw 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.lineas span{
    height: 1px;
    width: 70vw;
    background: #ccc;
}


/* CEN */
.cen{
    padding: 0 5vw;
}

.cen ul li{
    margin-top: 1vw;
    list-style-type: none;
    cursor: pointer;
}

.cen ul{
    float: left;
}

.cen ul.one_table, .cen ul.two_table{
    margin-right: 5vw;
}

.cen ul li:before{
    content: "•";
    color: red;
    margin-right: 10px;
    font-size: 28px;
    vertical-align: bottom;
}


/* ONE TABLE LI */

.cen ul.one_table li.one:before{
    color: #210F85;
}

.cen ul.one_table li.two:before{
    color: #4333B9;
}

.cen ul.one_table li.three:before{
    color: #4158DE;
}

.cen ul.one_table li.four:before{
    color: #5F6DDC;
}

/* TWO TABLE LI */

.cen ul.two_table li.one:before{
    color: #447CCA;
}

.cen ul.two_table li.two:before{
    color: #6799CE;
}

.cen ul.two_table li.three:before{
    color: #93BCE1;
}



/* THREE TABLE LI */
.cen ul.three_table li.one:before{
    color: #65a900;
}

.cen ul.three_table li.two:before{
    color: #b62e30;
}


/* MOBILE SIDE */
.mobile_side{
	text-align: center;
	display: none;
}
/* 
    * FOOTER *
*/
footer{
    background: #181818;
    color: white;
    height: 10vh;
    padding-left: 8vw;
    line-height: 10vh;
}